html{box-sizing:border-box;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0;box-sizing:border-box;}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search][type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted}[type=reset],[type=submit],button,html [type=button]button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]img{border-style:none;vertical-align: bottom}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}ul,ol{list-style:none;}a{text-decoration:none;}img{max-width: 100%;vertical-align: bottom;}

/* 共通設定 */
/* * {
  outline: 1px solid #ff0;
} */

html {
  scroll-behavior: smooth;
}

#body {
  font-family: 'Kiwi Maru', serif;
  background: var(--color_bg1);
  color: var(--color_txt1);
}

:root {
  --color_txt1:#482410;
  --color_txt2:#f08c34;
  --color_bg1:#f8f2e5;
  --color_bg2:#fae3bb;
}

.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

h2.section-title {
  font-size: 52px;
  letter-spacing: 0.08em;
  text-align: center;
}

/* #header */
#header {
  height: 100vh;
  background-image: url(../img/shop-img.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 100;
}
#header .l-nav {
  display: flex;
  flex-direction: row-reverse;
}

#header .l-nav>ul{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  background-color: #fff;
  opacity: .9;
  border-radius: 25px;
  width: 500px;
}

#header .l-nav>ul>li>a {
  display: block;
  font-size: 18px;
  line-height: 55px;
  height: 55px;
  color: var(--color_txt1);
  position: relative;
}

#header .l-nav>ul>li>a:hover {
  color: var(--color_txt2);
  display: block;
}

#header .l-nav>ul>li>a::after {
 content: "";
 width: 110%;
 height: 3px;
 background-color: var(--color_txt2);
 border-radius: 25px;
 position: absolute;
 top: 42px;
 left: -5%;
 display: none;
}

#header .l-nav>ul>li>a:hover::after {
  display: block;
}

#header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* #concept */
#concept{
  position: relative;
}

#concept::after {
  content: "";
  position: absolute;
  display: block;
  width: 1224px;
  height: 864px;
  background: url(../img/maru01.png) no-repeat;
  left: -30px;
  top: -230px;
  z-index: -10;
}

#concept h2.section-title {
  margin-top: 110px;
  margin-bottom: 100px;
}

#concept .concept_wrap {
  display: flex;
  margin-bottom: 130px;
  justify-content: space-between;
}

#concept .concept_img{
  width: 386px;
}

#concept .concept_img>img {
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  box-shadow: 20px 20px 8px #ffc878;
}

#concept .concept_txt {
  width: 540px;
}

#concept .concept_txt .concept_subtitle {
  font-size: 26px;
  letter-spacing: 0.04em;
  font-weight: 400;
  margin: 20px 0;
}

#concept .concept_txt .concept_detail {
  font-size: 18px;
  letter-spacing: 0.06em;
  font-weight: 300;
}

#concept .concept_wrap:nth-of-type(2) {
  flex-direction: row-reverse;
}

#concept .readmore_btn{
  display: block;
  background: url(../img/read-more.png) no-repeat;
  width: 200px;
  height: 74px;
  margin: 0 auto;
  text-align: center;
  line-height: 70px;
  font-size: 26px;
  color: #fff;
  margin-bottom: 250px;
}

/* #menu */
.parallax{
  height: 300px;
  background-image: url('../img/coffee.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.title-bg {
  line-height: 300px;
  background: url(../img/h2-back.png) no-repeat;
  background-position: center;
}

#menu .menu_wrap {
  display: flex;
  background: url(../img/menu-back.png) no-repeat;
  background-position: top;
  margin-top: 100px;
  margin-bottom: 250px;
  border-radius: 30px;
  height: 1272px;
  position: relative;
}

#menu .menu_wrap::after {
  content: "";
  position: absolute;
  background: url(../img/menu-center.png);
  width: 4px;
  height: 1272px;
  left: 50%;
  top: 0;
  transform: translate(-20px);
}

#menu .menu_drink,.menu_food {
  padding: 56px;
}

#menu .menu-title {
  text-align: center;
  font-size: 52px;
  letter-spacing: 0.04em;
  font-weight: 400;
  margin-bottom: 90px;
}

#menu dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  letter-spacing: 0.02em;
}

#menu dt {
  width: 85%;
  margin-bottom: 48px;
  height: 1272 px;
  position: relative;
}

#menu dd {
  width: 15%;
  text-align: right;
  height: 1272 px;
  position: relative;
}

#menu dt::after,#menu dd::after {
  /* 点線の間隔を調整するための記述 */
  content: "";
  height: 1px;
  width: 100%;
  display: block;
  background-image: linear-gradient(to right, #000, #000 4px, transparent 4px, transparent 8px);
  background-size: 8px 1px;
  background-repeat: repeat-x;
  position: absolute;
  top: 34px;
  bottom: 0;
  left: 0;
}

/* #access */
.parallax.access-pl{
  background-image: url('../img/nikotama.jpg');
}

#access .access-wrap {
  display: flex;
  margin-top: 200px;
  margin-bottom: 250px;
  flex-wrap: wrap;
  position: relative;
}

#access .access-wrap::after {
  position: absolute;
  content: "";
  width: 1133px;
  height: 895px;
  display: block;
  background: url(../img/maru02.png) no-repeat;
  top: -100px;
  left: 42px;
  z-index: -10;
}

#access .access-address>h3 {
  margin-bottom: 30px;
  padding-left: 100px;
}

#access .access-address p,.opening_hours{
  font-size: 20px;
  font-style: normal;
  text-align: center;
  padding-left: 100px;
  line-height: 2;
  font-weight: 500;
}

.opening_hours {
  margin-top: 55px;
}

/* #footer */
#footer {
  background: var(--color_txt2);
}

#footer small p{
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 32px;
  letter-spacing: 0.02em;
  text-align: center;
}

#footer .sns {
  text-align: center;
  padding-bottom: 80px;
}

#footer .sns>a{
  margin-left: 25px;
}

#footer .sns>a:first-child{
  margin-left: 0px;
}
